@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,700');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all ease-in-out 0.6s;
}


body {
  /* background: #ffffff; */
  font-family: 'Source Sans Pro', sans-serif;
  overflow-x: hidden;
  background-color: #d4d4d4c4;

}

html,
body {
  width: 100%;
  height: 100%;

}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
}

h1 {
  font-size: 40px;
  font-weight: 200;
  line-height: 50px;
}

h2 {
  font-size: 30px;
  line-height: 40px;
  margin-top: 0;
}


p {
  color: #757575;
  font-size: 16px;
  font-weight: 300;
  line-height: 29px;
  letter-spacing: 0.5px;
}


/* HEADER */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: -400;
}


#header {
  position: relative;
  height: 100vh;
  display: flex;
  width: 100%;
  justify-content: center;
  overflow: hidden;

}

video {
  pointer-events: none;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1000;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;


}


.navigation {
  height: 60px;
  text-align: right;
  position: fixed;
  width: 100%;
  vertical-align: middle;
  z-index: 1000;
  overflow: hidden;
}

.navigation a {

  text-decoration: none;
  color: #f9f9f9;
  letter-spacing: 0.5px;
  display: inline-block;
  font-size: 15px;
  padding-bottom: 4px;
  transition: all ease-in-out 0.7s;
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  padding-left: 2px;
  opacity: 1;
  font-weight: 550;
  
}

.navigation li:last-child {
  margin-right: 90px;
}

.navigation li {
  list-style: none;
  display: inline-block;
  margin: 15px 25px 12px 15px;

}

.navigation a:hover {
  animation-name: animation;
  animation-duration: 1s;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  transform: scale(1.1);
}

@keyframes animation {
  from {
    border-bottom-color: rgba(0, 255, 0, 0);
  }

  to {
    border-bottom-color: rgba(145, 233, 233, 0.465);
  }
}



.container h1 {
  color: #fff;
  z-index: 500;
  font-size: 57px;
  letter-spacing: 2px;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
}

.container {
  align-self: center;
  justify-self: center;
  height: 150px;
  width: 80%;
  padding: 5px;
}


.section-btn {
  margin: 32px 0 0 0;
  padding: 0;
  text-align: center;
}

.section-btn a,
.section-btn button {
  line-height: 45px;
  perspective: 1000px;
  color: #ffffff;
  font-weight: normal;
  transition: all ease-in-out 2s;
}



.section-btn a span,
.section-btn button span {
  position: relative;
  display: inline-block;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: 0.5px;
  padding: 0 25px;
  background: #4dc47d;
  border-radius: 1px;
  transition: transform 0.6s ease-in-out;

}

.section-btn a:hover span,
.section-btn a:focus span,

.section-btn button:hover span,
.section-btn button:focus span {
  background-color: #000;
  transform: scale(1.2);
  transition: all ease-in-out 0.6s;
}



/* MAIN */
main {
  background-color: #d4d4d4c4;

}


.about_section {
  display: block;


}

.about-title {
  background-color: #fff;
  text-align: center;
  font-family: 'Zilla Slab', serif;
  padding: 17px;

}

.about-title h2 {
  font-size: 45px;

}

.about-info {
  display: flex;
  align-items: center;
  flex-direction: row;
  padding-top: 30px;
}

.about-info img {
  width: 28%;
  margin-right: 30px;
  padding: 20px;
  border-radius: 50%;
  height: auto;
  margin-left: 5%;
}

.about-info p {
  color: #000;
  font-size: 26px;
  margin-bottom: 20px;
  width: 50%;
  font-family: 'Zilla Slab', serif;
}

.about-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: url("img/col.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 50px;

}


.about_skills {
  background-color: #c0bcbc;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-bottom: 15px;
  width: 94%;
  height: 50%;
}

.about_skills .skills {
  font-size: 28px;
  background-color: #303644;
  text-align: center;
  color: #f9f9f9;
  font-family: 'Zilla Slab', serif;
}

.bar {
  background: #353b48;
  display: block;
  width: 90%;
  height: 6px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #2187e7b3;
  box-shadow: 0 0 10px #2187e7b3;
}

.bar span {
  height: 6px;
  float: left;
  background: #2187e7;
  border-radius: 5px;
}

.bar .annimat {
  -webkit-animation-name: WidthGrow;
  animation-name: WidthGrow;
  -webkit-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: ease;
  animation-timing-function: ease;
}

.bar .html1 {
  width: 88%;
  transition: all ease-in-out 3s;
}

.bar .css {
  width: 85%;
  transition: all ease-in-out 3s;

}

.bar .sass {
  width: 84%;
  transition: all ease-in-out 3s;

}

.bar .js {
  width: 35%;
  transition: all ease-in-out 3s;

}

.bar .bootstrap {
  width: 60%;
  transition: all ease-in-out 3s;

}

.skill-item {
  width: 100%;
  padding: 5px 10px;
}

.skill-item p {
  display: inline-block;
  padding: 0;
  margin: 0;
  width: 100%;
  font-size: 14px;
  margin-bottom: 5px;
  color: rgb(12, 11, 11);
  font-weight: bold;
  font-family: 'Zilla Slab', serif;
}

.aboutwrapp {
  top: 10px !important;
}

@-webkit-keyframes WidthGrow {
  0% {
    width: 0%;
  }
}

@keyframes WidthGrow {
  0% {
    width: 0%;
  }
}



/* project */


.project-title {
  display: block;
  text-align: center;
  font-family: 'Zilla Slab', serif;

}

.project-title h2 {
  font-size: 45px;
  padding: 25px 0 25px 0;
  background-color: #fff;
}

.project-section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  height: 95vh;
  grid-gap: 15px;
  margin-bottom: 80px;
  background-color: #fff;
  background: url("img/backend.jpg") no-repeat;
  background-size: cover;
  padding-bottom: 15px;

}


.projects {
  overflow: hidden;
  position: relative;
  margin: 10px 25px 25px 25px;
  vertical-align: middle;
  text-align: center;
  border: 1px solid rgb(5, 124, 124);
}

.project-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  background-size: cover;
}

.project-info {
  padding: 6em 0;
}


.projects img {
  -webkit-transition: all ease-in-out 0.6s;
  transition: all ease-in-out 0.6s;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;


}


.projects:hover {
  transform: scale(1.1);
  transition: all ease-in-out 0.6s;
  z-index:500;
}

.project-overlay h1 {
  color: #ffffff;
  margin: 0;
}

.projects:hover .project-overlay {
  opacity: 1;
}




/* footer  */


footer {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.talk {
  margin-top: -30px;
}

.talk h2 {

  padding-bottom: 40px;
  font-size: 60px;
  font-weight: bold;
}


.footer-section {
  width: 88%;
  height: 350px;
  display: flex;
  background-color: #fff;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

.touch {
  display: flex;
  flex-direction: column;

}

.touch h3 {
  font-size: 32px;
  padding: 5px;
}

.touch a {
  font-size: 18px;
  padding: 5px;
  text-decoration: none;
  color: rgb(12, 11, 11);
  padding-top: 12px;
}

.touch p {
  color: rgb(12, 11, 11);
  font-size: 14px;
  padding: 5px;
  margin-top: 15px;
}

.touch a:hover {
  color: rgb(43, 104, 133);
  transform: scale(1.2);
}

.soc-networks {
  display: flex;
  flex-direction: column;
  height: 190px;
}

.soc-networks h3 {
  font-size: 32px;
  padding: 10px;
  margin-bottom: 15px;
}



/* soacial */



.soc-networks img {
  height: 35px;
  vertical-align: middle;
  border-radius: 10px;
  padding-right: 10px;
  -webkit-transition-delay: 0.8s;
  transition-delay: 0.8s;
  margin: 0;

}

.container-soc {
  display: flex;
  flex-direction: row;
}

.container-soc a {
  padding: 5px;
  margin-right: 8px;
}

.container-soc a:hover {
  transform: scale(1.2);


}


/* Preloader */


.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.spinner {
  border: 1px solid transparent;
  border-radius: 5px;
  position: relative;
}

.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 45px;
  height: 45px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 1px solid #959595;
  border-top-color: #ffffff;
  animation: spinner .9s linear infinite;
}

@-webkit-@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}





.toggler {


  margin: 0;
  margin: 20px 60px 0 0;
  height: 30px;
  display: flex;
  justify-content: flex-end;
  display: none;
  outline: none;

}

.tog {
  position: absolute;
  width: 45px;
  height: 4px;
  background-color: #fff;
  outline: none;

}

.tog:after {
  content: "";
  position: absolute;
  top: 10px;

  width: 45px;
  height: 4px;
  background-color: #fff;
  right: 0;
}

.toggler:hover {
  cursor: pointer;
  outline: none;

}

.toggler-btn {
  position: relative;
  outline: none;
}

.toggler button {
  position: absolute;
  display: block;
  top: 20px;
  border: none;
  width: 100%;
  outline: none;
  height: 4px;
  background-color: #fff;
}

.forHeight {
  height: 144px !important;
}

::-webkit-scrollbar {
  width: 5px;

}

::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.75);
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgba(31, 28, 28, 0.75);
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(17, 16, 16);
}







@media (max-width: 1086px) {
  .navigation li {

    margin: 15px 18px 12px 12px;
  }

  .container {
    width: 90%;
  }

  .container h1 {
    font-size: 44px;
  }


  .about-info img {
    width: 45%;
    padding: 15px;
  }

  .about-info p {
    font-size: 140%;
    width: 55%;

  }


  .project-info {
    padding: 30px;
  }

  .projects {
    margin: 0 15px;
  }

  .project-section {
    grid-template-columns: repeat(auto-fill, minmax(250px, 380px));
    grid-template-rows: auto;
    justify-content: space-around;
    height: 80vh;
    padding-top: 50px;
   grid-gap: 25px 0;

  }

  .project-title h2 {
    font-size: 45px;
    padding: 20px 0 20px 0;

  }
}

@media (max-width: 810px) {
  .project-section {
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));


    grid-gap: 20px;

  }
}

@media (max-width: 722px) {

  .container {
    align-self: stretch;
    margin-top: 220px;
  }

  .container h1 {
    font-size: 35px;

  }

  .forHeight li:last-child {
    padding-bottom:10px;
  }

  .about-info {

    flex-direction: column;

  }

  .about-info img {
    width: 50%;
    padding: 10px;
  }

  .about-info p {
    font-size: 150%;

    width: 94%;

  }

  .project-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 10px;

  }

  .project-info h1 {
    font-size: 30px;
  }

  .toggler {
    display: flex;
    margin-top: 15px;
    padding-top: 7px;
    margin-bottom: 9px;
  }

  .navigation {
    height: 57px;
  }

  .navigation a {
    padding: 0 !important;
    font-size: 16px;
  }

  .navigation li {
    display: block;
    margin: 0;
    text-align: center;
  }

  .navigation li:last-child {
    margin-right: 0;
  }
}


@media (max-width: 522px) {

  .container {
    width: 95%;
    padding: 0;
  }

  .container h1 {

    font-size: 31px;
    letter-spacing: 0;
    line-height: 48px;
  }

  .project-section {
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));

  }

  .project-info h1 {
    font-size: 20px;
  }

  .touch {
    height: 190px
  }

  .touch h3 {
    font-size: 20px;
    padding: 0;
    padding-left: 5px;
  }

  .touch a {
    font-size: 11px;
  }


  .footer-section {
    width: 90%;
    height: 270px
  }

  .talk h2 {
    font-size: 40px;
  }

  .project-title h2 {
    font-size: 38px;
    padding: 14px 0 14px 0;

  }

  .soc-networks h3 {
    font-size: 20px;
    margin-bottom: 0;
    padding: 0;

  }


  .soc-networks img {
    width: 32px;
    height: 35px;

    padding-right: 5px;

  }

  .container-soc a {
    margin-right: 0;
  }

}



@media (max-width: 450px) {

  .about-info img {
    width: 65%;
    padding: 10px;
  }

  .about-info p {
    font-size: 135%;
  }

  .project-info {
    padding: 0;

  }

  .soc-networks img {
    width: 20px;

  }

  .project-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows:250px 250px 250px;
    grid-gap: 10px;
    justify-content: center;
    height:110vh;
  }

  .projects {
    margin: 0;
    margin-top: 15px;
  }

  .about-title {
    padding: 11px;
  }


  .navigation li {
    text-align: left;
    padding-left: 35px;
    letter-spacing: 5px;

  }



}





@media (max-width: 412px) {
  .project-section {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
    grid-template-rows: 200px 200px 200px;
    grid-gap: 5px;
    padding: 0 5px;
     height: 100vh;
  }


  .projects {
    margin: 10px 0;
  }


  .project-info h1 {
    font-size: 20px;
  }

  .touch h3 {
    font-size: 13px;

  }

  .touch a {
    font-size: 9px;
  }

  .touch p {
    font-size: 7px;
  }

  .footer-section {
    width: 98%;
  }

  .talk h2 {
    font-size: 30px;
  }

  .project-title h2 {
    font-size: 32px;

  }

  .soc-networks h3 {
    font-size: 13px;
    text-align: center;
  }


  .soc-networks img {
    width: 20px;


  }

  .container-soc a {
    padding: 0;

  }
}


@media (max-width: 296px) {
  .project-section {
    grid-template-rows:auto;
  }

}

@media (min-width: 1450px) {
  .project-section {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 3ch auto minmax(1fr, 1fr);
  }

  .projects {
    margin: 30px 5px;
  }

}